#browse-main {
  color: var(--light-col);
  background-color: black;
  padding: 0;
  overflow-x: hidden !important;
}

#browse-overlay {
  background: linear-gradient(
    to bottom,
    rgba(8, 8, 8, 0.95),
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.95)
  );
}

#browse-background {
  background-image: url(../../../public/images/pexels-suzy-hazelwood-2718571.jpg);
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

#browse-switch-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 8em;
}

#browse-switch {
  appearance: none!important;
  -webkit-appearance: none!important;
  text-align: left;
  color: black;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: var(--light-col);
  position: relative;
  top: -5px;
  left: -32px;
}

.arrow {
  width: 20px;
  position: relative;
  top: -4px;
  left: 6px;
  transition: 0.2s;

}

.arrow:hover {
  scale: 1.1;
}

.arrow:active {
  scale: 0.9;
}

#browse-msg {
  position: relative;
  font-size: 30px;
  top: 62px;
  left: -15px;
}

#browse-input {
  width: 100%;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.386);
  border-radius: 8px;
  padding-left: 5px;
}

#browse-input:focus {
  outline: 2px solid var(--primary-col)!important;
  border: none;
}

#new {
  color: var(--primary-col);
  font-weight: bold;
}

#browse-search-btn {
  background-color: var(--primary-col);
  border: none;
  border-radius: 4em;
  padding: 5px 2em;
  margin-top: 1em;
  margin-bottom: 6em;
  transition: 0.1s;
}

#browse-search-btn:hover {
  background-color: var(--primary-btn-hover);
}

.browse-username {
  margin-left: 10px;
  border-top: 2px solid rgb(38, 38, 38);
  border-left: 2px solid rgb(38, 38, 38);
  border-right: 2px solid rgb(38, 38, 38);
  margin-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 4px;
  font-size: 1em;
}

#box-container {
  overflow-x: auto;
  /* white-space: nowrap; */
  border-top: 3px solid rgb(38, 38, 38);
  border-bottom: 3px solid rgb(38, 38, 38);
  background-color: rgb(12, 12, 12) !important;
}

#box-container::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

#box-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.box {
  border-right: 1px solid rgb(38, 38, 38);
}

.browse-titles {
  padding: 1em 0.3em;
}

.browse-imgs {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 50%, transparent);
  border-radius: 8px;
  padding: 0 !important;
}

@media screen and (min-width: 850px) {
  #browse-msg {
    font-size: 4em;
    padding-top: 2em !important;
    top: -20px;
  }

  #browse-input {
    width: 40% !important;
    font-size: 1.5em;
  }

  #browse-search-btn {
    margin-top: 2em;
    font-size: 1.5em;
  }

  #browse-intro {
    font-size: 2em;
  }

  #box-container {
    max-height: 30em !important;
  }

  .browse-imgs {
    height: 29em;
  }

  #browse-switch {
   font-size: 4em;
   top: -23px;
   left: -24px;
  }

  .arrow {
    top: -20px;
    width: 40px;
    left: 40px;
  }

  
}
