.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}

#modal {
  display: block;
  position: fixed;
  width: 35%;
  height: 500px;
  left: 32.5%;
  top: 20%;
  border: 4px solid #212122;
  border-radius: 20px;
}

.modal-content {
  background-image: url(../../../public/images/DALL·E\ 2023-06-09\ 22.12.32\ -\ black\ photorealistic\ image\ of\ a\ bookshelf\ in\ artsy\ form.png);
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(8, 8, 8, 0.95),
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.95)
  );
}

.modalTitle {
  text-align: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}

.modalFormInput {
  margin-top: 15px;
  color: black;
}

.modalSubmit {
    background-color: var(--primary-col);
    padding: 8px;
    border-radius: 5em;
    border: none;
    font-size: 1.5em;
    color: var(--light-col);
    transition: 0.1s;
    margin-top: 25px;
  }
  

.modalClose {
  margin-top: 30px;
  text-decoration: underline;
}

input {
    border-radius: 8px;
}
