nav {
  background-color: var(--gray-col);
  width: 100%;
  box-shadow: 1px 15px 15px rgba(0, 0, 0, 0.3);
}

#nav-container {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  position: fixed;
  top: 0;
}

#mobile-nav-container {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  position: fixed;
  top: 0;
  justify-content: space-between;
}


#nav-logo {
  margin: 8px;
  font-family: "Brice";
  font-size: 4em;
  color: var(--dark-col);
  text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
}

#mobile-nav-logo {
  margin: 8px;
  font-family: "Brice";
  font-size: 2em;
  color: var(--dark-col);
  text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
}

#hamburger-icon {
  margin: auto 0;
  display: block;
  cursor: pointer;
  margin: 10px;
}

.bars {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

#mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.open#mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 92px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  padding-top: 60px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 2;
}

.mobile-nav-btns {
  background: none;
  color: var(--light-col);
  border: none;
  padding: 1.5em;
}

.desktop-nav-btns {
  background: none;
  color: var(--light-col);
  border: none;
  padding-left: 1.5em;
  font-size: 1.5em;
}

.desktopSignOn {
  justify-self: end;
}

.desktop-signin-btns {
  background-color: var(--gray-col);
  border: 1px solid var(--dark-col);
  border-radius: 10px;
  padding-left: .5em;
  padding-right: .5em;
  color: var(--light-col);
  font-family: var(--font);
  font-size: 1.5em;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.desktop-signup-btns {
  background-color: var(--dark-col);
  border: 1px solid var(--dark-col);
  border-radius: 10px;
  color: var(--light-col);
  margin-left: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
  font-family: var(--font);
  font-size: 1.5em;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap; /* Prevent flex items from wrapping */
  align-items: center;
}

.desktopNav {
  flex: 1;
}

#mobile-nav {
  display: flex !important;
  justify-content: end !important;
}

.open.bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: white;
}

.open.bar2 {
  opacity: 0;
}

.open.bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
  background-color: white;
}
