* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-col: #272838;
  --gray-col: #9997a5;
  --light-col: #f9f8f8;
  --primary-col: #af3e4d;
  --secondary-col: #fff7ae;
}

body {
  background-color: var(--dark-col);
}

.light-txt {
  color: var(--light-col);
}