#modal-component {
  background-color: rgb(19, 19, 19);
  z-index: 3;
  width: 95%;
  border-radius: 8px;
  display: none;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid;
}

#modal-component::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.05);
}

#modal-component::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.open#modal-component {
  display: block;
}

#modal-title {
  margin: 4em auto 2em auto;
  flex-direction: column;
}

#modal-close {
  position: fixed;
  right: 30px;
  top: 20px;
  width: 20px;
}

.item-container {
  border: 2px solid rgb(52, 52, 52);
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgb(30, 30, 30);
}

#new-title {
  background-color: black;
  margin: 10px 20px;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
}

span {
  color: var(--primary-col)
}

#new-title:focus{
  outline-color: var(--primary-col);
  border: none;
}

#new-desc {
  background-color: black;
  border: none;
  border-radius: 8px;
  margin: 10px 5px;
  padding: 4px 10px;
  width: 95%;
}

#new-desc:focus{
  outline-color: var(--primary-col);
  border: none;
}

#create-submit-btn {
  background-color: var(--primary-col);
  border-radius: 8px;
  border: none;
  padding: 4px 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}
