#write-main {
    height: 140vh;
}

#form-container {
    margin-top: 10em;
    border: 1px solid rgb(61, 61, 61);
    color: black;
    border-radius: 8px;
    height: fit-content;
    background-color: rgb(33, 33, 33);
}

#review-rating {
    color: white;
    background-color: black;
    border-color: rgb(61, 61, 61);

}

#review-rating:focus {
    outline-color: var(--primary-col);
}

#review-rating option {
    color: white;
    background-color: black;
    border-color: rgb(61, 61, 61);

}

#write-h2 {
   margin: 4px 0!important;
   padding: 4px 0;
}

#top-card-border {
    border-top: 1px solid rgb(61, 61, 61);

}

#watch-date {
    color: white;
    background-color: black;
    border-color: rgb(61, 61, 61);

}

#watch-date:focus {
    outline-color: var(--primary-col);
}

#review-text {
    color: white;
    background-color: black;
    border-color: rgb(61, 61, 61);
    width: 100%;
}

#review-text:focus {
    outline-color: var(--primary-col);
}

#review-title {
    color: white;
}

.item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img {
    height: 100%;
    width: 100%;
}

.item-title {
    font-size: 40px;
    padding-top: 10px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thought {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dateInput,
.ratingInput,
.reviewInput {
    border: 1px solid #920202;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #000000;
    width: 100%;
}

#submit-container {
    border-top: 1px solid rgb(61, 61, 61);

}

#review-submit {
    background-color: var(--primary-col);
    border-radius: 8px;
    padding: 4px 10px;
    margin: 10px;
    width: 40%;
}
  