.thread-save-btn {
    background-color: #198754;
    padding: 4px 10px;
    border-radius: 8px;
    margin: 4px 0;
    transition: 0.2s;
    width: 40%;
}

.thread-save-btn:hover {
    background-color: #157347;
  }