.container-fluid {
	color:  #393939;
	background-color: rgb(12, 12, 12);
}

#profile-card {
	border: 1px solid #393939;
	margin: 10em auto 4em auto;
	border-radius: 8px;
}

#profile-img-container {
	width: 95%;
}

#profile-default {
	height: 10em;
}

#username-container {
	border-top: 1px solid  #393939;
	color: var(--light-col);
}

#menu-container {
	border: 1px solid  #393939;
	border-radius: 8px;
}

#menu-s-threads {
	border-bottom: 1px solid  #393939;
	transition: 0.2s;
}

#menu-s-threads:hover {
	background-color: #39393932;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#menu-friends:hover {
	background-color: #393939;
}

#menu-comments {
	border-bottom: 1px solid  #393939;
}

#menu-comments:hover {
	background-color: #39393932;

}

.menu-btns {
	color: var(--light-col);
}


#threads-container {
	border-left: 1px solid  #fdcb00;
	color: var(--light-col);
}

.li-thread {
	border-radius: 8px;
	border: 1px solid  #393939;
}

.thread-title{
	padding-top: 5px;
}

.thread-img-container {
	padding: 0!important;

}

.thread-img {
	width: 100%;
	mask-image: linear-gradient(to right, transparent, black 100%, transparent);
	border-radius: 8px;
	padding: 0!important;

}

.thread-p {
	font-size: 15px;
}

@media screen and (min-width: 850px) {
	#profile-container {
		width: 80%!important;
		background-color: rgb(18, 18, 18);
	}

	#profile-parent {
		display: flex;
		justify-content: center;
	}

	#profile-card {
		width: 60%;
	}

	#menu-container {
		width: 50%;
	}

	ul {
		padding-left: 0!important;
	}

	.gold-border {
		border-bottom: 1px solid #ffaa01;
		width: 5px!important;
		padding-top: 120%;
	}
}


/* /images/pexels-mike-bird-114820.jpg */