.threads-imgs {
    max-height: 300px;
    max-width: 500px;
}

#thread-description {
   padding-top: 1em!important;
   word-wrap:break-word!important;
   font-size: 20px;
   text-align: start;
}

#thread-card-date {
    font-size: 25px!important;
}

.thread-open-btn {
    width: 100%;
    font-size: 30px;
}

.trash-can {
    width: 20px;
    cursor: pointer;
    transition: 0.1s;
}

.trash-can:hover {
    scale: 1.1;
}

.trash-can:active {
    scale:0.9;
}