.footerContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(23, 23, 23);
  height:200px;
}

.firstFooter {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secondFooter {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(45, 45, 45);
    border-left: 2px solid rgb(45, 45, 45);
    margin-top: 15px;
    margin-bottom: 15px;
  }

.footerTitle {
    font-size: 30px;
    font-family: "Brice";
}

.footerSubTitle {
    margin-top: 10px;
}

.firstSubFooter {
  display: flex;
  align-items: center;
}

.githubLogo {
  width: 50px;
  margin-top: 10px;
  fill: white;
}
