.comment-card {
    background-color: var(--card-bg-col);
    border-radius: 8px;
    border: 1px solid var(--card-border-col)
}

.comment-card-btns {
    background-color: var(--primary-col);
    border-radius: 4px;
    padding: 4px 6px;

}

.card-type {
    border-bottom: 1px solid var(--card-border-col);
}