.comment-card {
    background-color: var(--card-bg-col);
    border-radius: 8px;
    border: 1px solid var(--card-border-col)
}

.comment-card-btns {
    background-color: var(--primary-col);
    border-radius: 4px;
    padding: 4px 6px;

}

.card-type {
    border-bottom: 1px solid var(--card-border-col);
}

 @media screen and (min-width: 850px) {
  
      .comments-card {
          margin-bottom: 4em;
      }
  
    #my-comments-h2 {
      font-size: 4.5em;
      margin-bottom: 0.5em;
    }
  
    #new-comments-btn {
      font-size: 1.5em;
    }
  
    #new-comments-btn {
      margin-bottom: 10em;
    }
  
    .comments-imgs {
      width: 100%;
      mask-image: linear-gradient(to right, transparent, black 50%, transparent);
      border-radius: 8px;
      padding: 0 !important;
      max-height: 470px;
    }
  
    .comments-open-btn {
      width: 40%;
    }
  } 
  