.item-img-container {
  height: 95%;
  margin: 1em!important;
}


.item-title {
  font-size: 30px!important;
  font-weight: bold;
  padding-top: 10px;
}

.item-desc {
  font-size: 25px;
}

.item-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-btn {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: var(--primary-col);
  padding: 10px 20px;
  border-radius: 5em;
  border: none;
  font-size: 1.5em;
  color: var(--light-col);
  transition: 0.1s;
  margin: 25px auto !important;
  width: 60%;
}

.item-btn:hover {
  background-color: #c44657;
}

.item-btn:active {
  scale: 0.9;
  background-color: rgb(186, 186, 255);
}

@media (min-width: 850px) {
  .modal-container {
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .info-side {
    align-items: self-start;
  }

  .item-desc-container {
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-color: black!important;
  }

  .item-img {
    width: 300px!important;
    padding: 20px;
  }
}
