
#comments-main {
    margin-bottom: 1em!important;
}

#comments-page-title {
    height: fit-content;
}

#create-comment-btn {
    background-color: var(--primary-col);
    border-radius: 8px;
    padding: 4px;
    width: 25%;
    font-size: 1.5em;
    margin-bottom: 2em;
    transition: 0.2s;
}

#create-comment-btn:hover {
    background-color: var(--primary-btn-hover);
}

